<!DOCTYPE html>
<html lang="pt-BR">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Minha Estante Virtual{% endblock %}</title>
        <link rel="icon" href="{{ url_for('static', filename='assets/images/Logo-Minha-Estante-Virtual.png') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>

    <body>
        <header>
            <div class="header-div">
                <div class="logotipo">
                    <a href="{{ url_for('index') }}">
                        <img class="img-header" src="{{ url_for('static', filename='assets/images/Logo-Minha-Estante-Virtual.png') }}" alt="Logo Minha Estante Virtual">
                        <span>Minha Estante Virtual</span>
                    </a>
                </div>
                <nav>
                    <a class="btn-add-review" href="{{ url_for('show_add') }}" aria-label="Adicionar Review"><p>+</p></a>
                </nav>
            </div>
        </header>

        <main>
            {% block content %}
            {% endblock %}
        </main>

        <footer>
            <p>Minha Estante Virtual &ndash; &copy; 2026</p>
        </footer>
    </body>

</html>